<html>
<head>
	<title>BaconfyAdmin</title>
</head>
<meta charset='utf-8'/>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"/>

<!-- Latest jquery -->
<script src="https://code.jquery.com/jquery-2.2.3.min.js"> </script>

<!-- Latest compiled and minified JavaScript -->
<script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script>
function pad(num, size) {
    var s = "000000000" + num;
    return s.substr(s.length-size);
}
	$(document).ready(function(){
		var progresspump = setInterval(function(){
			/* query the completion percentage from the server */
		$.get("/badmin/progress/", function(data){
			json = $.parseJSON(data)
			/* update the progress bar width */
			/* console.log(json) */
			var minutes = Math.floor(json['song']['time'] / 60);
			var seconds = json['song']['time'] - minutes * 60;
			var pminutes = Math.floor(json['status']['elapsed'] / 60);
			var pseconds = Math.round(json['status']['elapsed']) - pminutes * 60;
			
			$("#artist").html(json['song']['artist'])
			$("#title").html(json['song']['title'])
			$("#album").html(json['song']['album'])
			$("#progress-bar").css('width',json['percentage']+'%');
			/* and display the numeric value */
			$("#playtime-badge").html(pad(pminutes,2)+':'+pad(pseconds,2)+' / '+pad(minutes,2)+':'+pad(seconds,2));
			var strdbg = JSON.stringify(json, null, 2);
			$("#debug").html(strdbg)
		})
	}, 1000);});
</script>

<body>